* {
    font-family: 'Courier New';
}
h2{
    color: #1b7434;
}
#log  {
    background-color:aqua;
}
.reg {
    background-color:aqua;
}
button{
    background-color:black;
    color: white;
}